<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"/>
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <title> Zuri Hunter | Senior Software Engineer</title>
    <link rel="shortcut icon" href="../favicon.ico">

    <!-- Google Font-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700,900,900italic,700italic%7COswald:400,300,700'
          rel='stylesheet' type='text/css'>
    <!-- Design Style -->
    <link rel="stylesheet" type="text/css" href="../css/scroll.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <!-- Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    <link rel="stylesheet" type="text/css" href="../css/font-awesome.css" />-->
    <!-- Portfolio Thumbnail / Slider -->
    <link rel="stylesheet" type="text/css" href="../css/portfolio.css"/>
    <link rel="stylesheet" type="text/css" href="../css/carousel.css">
    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="../css/responsive.css"/>
    <!-- Pie Chart / Skills -->
    <script type="text/javascript" src="../js/jquery-2.0.3.min.js"></script>
    <!-- Send Email -->
    <script type="text/javascript" src="../js/sendemail.js"></script>
    <!-- Progressbar / Skills-->
    <script type="text/javascript" src="../js/progressbar.js"></script>
    <!-- Portfolio-->
    <script src="../js/modernizr.custom.js"></script>
</head>
<body>
<div id="container" class="container">
    <!-- Left Menu / Logo-->
    <aside class="menu" id="menu">
        <div class="logo">
            <!-- Logo image-->
            <img src="../images/logo.png" width="140" height="140" alt=""/>
            <!-- Logo name-->
            <span>Zuri Hunter</span></div>
        <!-- Mobile Navigation-->
        <a href="#menu1" class="menu-link"></a>
        <!-- Left Navigation-->
        <nav id="menu1" role="navigation">
            <a href="#chapterintroduction">
                <span id="link_introduction" class="active">
                    Home
                </span>
            </a>

            <a href="#chapterabout">
                <span id="link_about">
                    About
                </span>
            </a>

            <a href="#chapterskills">
                <span id="link_skills">
                    Skills
                </span>
            </a>

            <a href="#chapterexperience">
                <span id="link_experience">
                    Experience
                </span>
            </a>

            <a href="#chaptereducation">
                <span id="link_education">
                    Education
                </span>
            </a>

            <a href="#chapterpublicationsachievements">
                <span id="link_publicationsachievements">
                    Publications & Achievements
                </span>
            </a>

            <a href="#chapterportfolio">
                <span id="link_portfolio">
                    Portfolio
                </span>
            </a>

            <a href="#chaptercontact">
                <span id="link_contact">
                    Contact
                </span>
            </a>

            <a href="../blog.html">
                <span id="link_blog">
                    Blog
                </span>
            </a>
        </nav>
        <div class="copyright"> © Zuri Hunter.<br>
            All Rights Reserved.
        </div>
    </aside>
    <!-- Go to top link for mobile device -->
    <a href="#menu" class="totop-link">Go to the top</a>
    <div class="content-scroller">
        <div class="content-wrapper">

            <!-- Introduction -->
            <article class="content introduction noscroll" id="chapterintroduction">
                <div class="inner">
                    <h2><span>HEllO, I'm</span><br>
                        Zuri Hunter</h2>
                    <span class="title">Senior Software Engineer</span></div>
                <div id="owl-demo" class="owl-carousel">
                    <div class="item"><img src="../images/headshot-transparent.png" alt=""/></div>
                </div>
            </article>

            <!-- About -->
            <article class="content about white-bg" id="chapterabout">
                <div class="inner">
                    <h2>About</h2>
                    <div class="title-divider"></div>
                    <div class="about-con">
                        <ul>
                            <li>Name: Zuri Hunter</li>
                            <li>Email: <a href="mailto:zurihunter92@gmail.com">zurihunter92@gmail.com</a></li>
                        </ul>
                        <h3>Professional Profile</h3>
                        <p>{{content.professionalProfile}}<br>
                        </p>
                        <a href="../docs/2022ResumeZH.pdf" class="button">Download resume as PDF format</a></div>
                </div>
            </article>

            <!-- Skills -->
            <article class="content skills gray-bg" id="chapterskills">
                <div class="inner">
                    <h2>Skills</h2>
                    <div class="title-divider"></div>
                    <h3>Jack of All Trades</h3>
                    <p>{{content.skillsSubHeader}}</p>
                    <div class="skills-con">
                        <div class="container-sub margin-top50">
                            <div class="row">
                                <div class="col-6 margin-bottom50">
                                    <div class="col-6"><span class="chart" data-percent="85"><span
                                            class="percent"></span> </span></div>
                                    <div class="col-6 chart-text">
                                        <h4>Back-End Development</h4>
                                        <p>Proficient, {{content.yearsOfExp}} years</p>
                                    </div>
                                </div>
                                <div class="col-6 margin-bottom50">
                                    <div class="col-6"><span class="chart" data-percent="75"><span
                                            class="percent"></span> </span></div>
                                    <div class="col-6 chart-text">
                                        <h4>Front-End Development</h4>
                                        <p>Proficient, {{content.yearsOfExp}} years</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="col-6"><span class="chart" data-percent="80"><span
                                            class="percent"></span> </span></div>
                                    <div class="col-6 chart-text">
                                        <h4>Data Engineering</h4>
                                        <p>Competent, 2 years</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="col-6"><span class="chart" data-percent="65"><span
                                            class="percent"></span> </span></div>
                                    <div class="col-6 chart-text">
                                        <h4>Scrum Master</h4>
                                        <p>Novice, 1 years</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="full-divider"></div>
                        <div class="container-sub skill-list">
                            <div class="row">
                                <h3>Technologies</h3>
                                <p>{{content.technologiesSubHeader}}</p>
                                <div class="col-4 margin-top10">
                                    <ul>
                                        <b>Databases</b>
                                        {{#each content.databases}}
                                            <li>{{this}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <div class="col-4 margin-top10">
                                    <ul>
                                        <b>Cloud Technologies</b>
                                        {{#each content.cloudTechnologies}}
                                            <li>{{this}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <div class="col-4 margin-top10">
                                    <ul>
                                        <b>Tooling and Libraries</b>
                                        {{#each content.toolingLibraries}}
                                            <li>{{this}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="full-divider"></div>
                        <div class="container-sub">
                            <div class="row">
                                <h3>Programming Languages</h3>
                                <p>{{content.programmingLanguagesSubHeader}}</p>
                                {{#each content.programmingLanguage}}
                                    <div class="progressbar-main margin-top50">
                                        <div class="progress-bar-description">{{language}} {{proficiency}}</div>
                                        <div id="{{id}}" class="progress">
                                            <div class="progress-value"></div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- Experience -->
            <article class="content experience white-bg" id="chapterexperience">
                <div class="inner">
                    <h2>Experience</h2>
                    <div class="title-divider"></div>
                    <h3>{{content.yearsOfExp}} Years Experience!</h3>
                    <p> {{content.experienceSubHeader}}</p>
                    <div class="experience-con">
                        <div class="container-sub">

                            <div class="full-divider"></div>
                            <div class="row">
                                {{#each content.experience}}
                                    <div class="experience-details">
                                        <div class="col-6 margin-bottom50 margin-top50">
                                            <div class="col-3 icon-block"><i class="{{icon}}"></i></div>
                                            <div class="flot-left">
                                                <h5>{{companyName}}</h5>
                                                <h4>{{position}}</h4>
                                                <span>{{years}}</span></div>
                                        </div>
                                        <div class="col-6 margin-bottom50 margin-top50 no-margin-top">
                                            <ul>
                                                {{#each description}}
                                                    <li>{{this}}</li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="full-divider"></div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- Education -->
            <article class="content education gray-bg" id="chaptereducation">
                <div class="inner">
                    <h2>Education</h2>
                    <div class="title-divider"></div>
                    <h3>Education is Key.</h3>
                    <p>{{content.educationSubHeader}}</p>
                    <div class="education-con">
                        <div class="container-sub">
                            <div class="full-divider"></div>
                            <div class="row">

                                {{#each content.education}}
                                    <div class="education-details">
                                        <div class="col-6 margin-bottom50 margin-top50">
                                            <div class="col-3 icon-block"><i class="fa fa-laptop"></i></div>
                                            <div class="flot-left">
                                                <h5>{{universityName}}</h5>
                                                <h4>{{major}}</h4>
                                                <span>{{degreeType}}</span>
                                            </div>
                                        </div>
                                        <div class="col-6 margin-bottom50 margin-top50 no-margin-top">
                                            {{description}}
                                        </div>
                                    </div>
                                    <div class="full-divider"></div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- Publications & Achievements -->
            <article class="content publicationsAchievements white-bg" id="chapterpublicationsachievements">
                <div class="inner">
                    <h2>Publications & Achievements</h2>
                    <div class="title-divider"></div>
                    <div class="education-con">
                        <div class="container-sub skill-list">
                            <div class="full-divider"></div>
                            <div class="row">
                                <h3>Awards</h3>
                                {{#each content.awards}}
                                    <p><i class="fa fa-ellipsis-v" aria-hidden="true"></i> <span
                                            class="pa-spacing"></span><b><a href="{{link}}" target="_blank"
                                                                            rel="noopener noreferrer">{{year}} {{name}}</a></b>
                                    </p>
                                {{/each}}

                                <div class="full-divider"></div>
                                <h3>Talks</h3>
                                {{#each content.talks}}
                                    <p><i class="fa fa-ellipsis-v" aria-hidden="true"></i> <span
                                            class="pa-spacing"></span> <b><a href="{{link}}" target="_blank"
                                                                             rel="noopener noreferrer">{{title}}</a></b>
                                    </p>
                                {{/each}}

                                <div class="full-divider"></div>
                                <h3>Podcasts</h3>
                                {{#each content.podcasts}}
                                    <p><i class="fa fa-ellipsis-v" aria-hidden="true"></i> <span
                                            class="pa-spacing"></span> <b><a href="{{link}}" target="_blank"
                                                                             rel="noopener noreferrer">{{podcast}}
                                        - {{title}}</a></b></p>
                                {{/each}}

                                <div class="full-divider"></div>
                                <h3>Publications</h3>
                                {{#each content.publications}}
                                    <p><i class="fa fa-ellipsis-v" aria-hidden="true"></i> <span
                                            class="pa-spacing"></span> <b><a href="{{link}}" target="_blank"
                                                                             rel="noopener noreferrer">{{title}}</a></b>
                                    </p>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- Portfolio -->
<!--            <article class="content portfolio gray-bg" id="chapterportfolio">-->
<!--                <div class="inner">-->
<!--                    <h2>Portfolio</h2>-->
<!--                    <div class="title-divider"></div>-->
<!--                    <h3>GitHub + GitLab</h3>-->
<!--                    <p>{{content.portfolioSubHeader}}</p>-->
<!--                    <div class="portfolio-con">-->
<!--                        <div class="container-sub margin-top50">-->
<!--                            <div class="row">-->
<!--                                <div id="grid-gallery" class="grid-gallery">-->

<!--                                    <div id="github-repos"></div>-->
<!--                                    <section class="grid-wrap">-->
<!--                                        <ul class="grid">-->
<!--                                            <li>-->
<!--                                                <figure><img src="http://placehold.it/700x475" alt=""/>-->
<!--                                                    <figcaption>-->
<!--                                                        <div class="figcaption-details"><img-->
<!--                                                                src="../images/icon-plus.png" height="82" width="82"-->
<!--                                                                alt=""/>-->
<!--                                                            <h3>The Flavour Restaurant</h3>-->
<!--                                                            <span>Website Design & Development</span></div>-->
<!--                                                    </figcaption>-->
<!--                                                </figure>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <figure><img src="http://placehold.it/700x475" alt=""/>-->
<!--                                                    <figcaption>-->
<!--                                                        <div class="figcaption-details"><img-->
<!--                                                                src="../images/icon-plus.png" height="82" width="82"-->
<!--                                                                alt=""/>-->
<!--                                                            <h3>Herbal Beauty Salon</h3>-->
<!--                                                            <span>Photography</span></div>-->
<!--                                                    </figcaption>-->
<!--                                                </figure>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <figure><img src="http://placehold.it/700x475" alt=""/>-->
<!--                                                    <figcaption>-->
<!--                                                        <div class="figcaption-details"><img-->
<!--                                                                src="../images/icon-plus.png" height="82" width="82"-->
<!--                                                                alt=""/>-->
<!--                                                            <h3>Kayra Modelleri</h3>-->
<!--                                                            <span>Branding and Identity</span></div>-->
<!--                                                    </figcaption>-->
<!--                                                </figure>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <figure><img src="http://placehold.it/700x475" alt=""/>-->
<!--                                                    <figcaption>-->
<!--                                                        <div class="figcaption-details"><img-->
<!--                                                                src="../images/icon-plus.png" height="82" width="82"-->
<!--                                                                alt=""/>-->
<!--                                                            <h3>Fashion and You</h3>-->
<!--                                                            <span>APPS and Web Design</span></div>-->
<!--                                                    </figcaption>-->
<!--                                                </figure>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <figure><img src="http://placehold.it/700x475" alt=""/>-->
<!--                                                    <figcaption>-->
<!--                                                        <div class="figcaption-details"><img-->
<!--                                                                src="../images/icon-plus.png" height="82" width="82"-->
<!--                                                                alt=""/>-->
<!--                                                            <h3>Whole Food Flour</h3>-->
<!--                                                            <span>Branding and Identity</span></div>-->
<!--                                                    </figcaption>-->
<!--                                                </figure>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </section>-->

<!--                                    &lt;!&ndash; Lightbox Popup &ndash;&gt;-->
<!--                                    <section class="slideshow">-->
<!--                                        <ul>-->
<!--                                            <li>-->
<!--                                                <figure>-->
<!--                                                    <figcaption>-->
<!--                                                        <h3>The Flavour Restaurant</h3>-->
<!--                                                        <span>Website Design & Development</span>-->
<!--                                                        <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache-->
<!--                                                            sriracha tattooed cray aute slow-carb placeat delectus.-->
<!--                                                            Letterpress asymmetrical fanny pack art party est pour-over-->
<!--                                                            skateboard anim quis, ullamco craft beer.</p>-->
<!--                                                    </figcaption>-->
<!--                                                    <div id="owl-demo1" class="owl-carousel">-->
<!--                                                        <div class="item"><img src="http://placehold.it/700x475"-->
<!--                                                                               alt=""/></div>-->
<!--                                                        <div class="item"><img src="http://placehold.it/700x475"-->
<!--                                                                               alt=""/></div>-->
<!--                                                        <div class="item"><img src="http://placehold.it/700x475"-->
<!--                                                                               alt=""/></div>-->
<!--                                                        <div class="item"><img src="http://placehold.it/700x475"-->
<!--                                                                               alt=""/></div>-->
<!--                                                        <div class="item"><img src="http://placehold.it/700x475"-->
<!--                                                                               alt=""/></div>-->
<!--                                                    </div>-->
<!--                                                </figure>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <figure>-->
<!--                                                    <figcaption>-->
<!--                                                        <h3>Herbal Beauty Salon</h3>-->
<!--                                                        <span>Photography</span>-->
<!--                                                        <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache-->
<!--                                                            sriracha tattooed cray aute slow-carb placeat delectus.-->
<!--                                                            Letterpress asymmetrical fanny pack art party est pour-over-->
<!--                                                            skateboard anim quis, ullamco craft beer.</p>-->
<!--                                                    </figcaption>-->
<!--                                                    <img src="http://placehold.it/700x475" alt=""/></figure>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <figure>-->
<!--                                                    <figcaption>-->
<!--                                                        <h3>Kayra Modelleri</h3>-->
<!--                                                        <span>Branding and Identity</span>-->
<!--                                                        <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache-->
<!--                                                            sriracha tattooed cray aute slow-carb placeat delectus.-->
<!--                                                            Letterpress asymmetrical fanny pack art party est pour-over-->
<!--                                                            skateboard anim quis, ullamco craft beer.</p>-->
<!--                                                    </figcaption>-->
<!--                                                    <div id="owl-demo2" class="owl-carousel">-->
<!--                                                        <div class="item"><img src="http://placehold.it/700x475"-->
<!--                                                                               alt=""/></div>-->
<!--                                                        <div class="item"><img src="http://placehold.it/700x475"-->
<!--                                                                               alt=""/></div>-->
<!--                                                        <div class="item"><img src="http://placehold.it/700x475"-->
<!--                                                                               alt=""/></div>-->
<!--                                                        <div class="item"><img src="http://placehold.it/700x475"-->
<!--                                                                               alt=""/></div>-->
<!--                                                        <div class="item"><img src="http://placehold.it/700x475"-->
<!--                                                                               alt=""/></div>-->
<!--                                                    </div>-->
<!--                                                </figure>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <figure>-->
<!--                                                    <figcaption>-->
<!--                                                        <h3>Fashion and You</h3>-->
<!--                                                        <span>APPS and Web Design</span>-->
<!--                                                        <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache-->
<!--                                                            sriracha tattooed cray aute slow-carb placeat delectus.-->
<!--                                                            Letterpress asymmetrical fanny pack art party est pour-over-->
<!--                                                            skateboard anim quis, ullamco craft beer.</p>-->
<!--                                                    </figcaption>-->
<!--                                                    <iframe width="854" height="480"-->
<!--                                                            src="//www.youtube.com/embed/ZwzY1o_hB5Y" frameborder="0"-->
<!--                                                            allowfullscreen></iframe>-->
<!--                                                </figure>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <figure>-->
<!--                                                    <figcaption>-->
<!--                                                        <h3>Whole Food Flour</h3>-->
<!--                                                        <span>Branding and Identity</span>-->
<!--                                                        <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache-->
<!--                                                            sriracha tattooed cray aute slow-carb placeat delectus.-->
<!--                                                            Letterpress asymmetrical fanny pack art party est pour-over-->
<!--                                                            skateboard anim quis, ullamco craft beer.</p>-->
<!--                                                    </figcaption>-->
<!--                                                    <img src="http://placehold.it/700x475" alt=""/></figure>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                        <nav><span class="fa nav-prev"></span> <span class="fa nav-next"></span> <span-->
<!--                                                class="fa nav-close"></span></nav>-->
<!--                                    </section>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </article>-->

            <!-- Contact -->
            <article class="content contact gray-bg" id="chaptercontact">
                <div class="inner">
                    <h2>Contact</h2>
                    <div class="title-divider"></div>
                    <h3>Let's Keep In Touch</h3>
                    <p>{{content.contactSubHeader}}</p>

                    <div class="contact-con margin-top50">
                        <div class="container-sub">
                            <div class="row">
                                <div class="contact-details">
                                    <div class="col-12">
                                        <div class="contact-text">
                                            <div class="col-2 icon-block address"><i class="fa fa-twitter"></i></div>
                                            <div class="flot-left"><a href={{content.socialMedia.twitter}}> Twitter<br/> <strong>@ZuriHunter</strong></a><br>
                                            </div>
                                        </div>
                                        <div class="contact-text">
                                            <div class="col-2 icon-block phone"><i class="fa fa-linkedin"></i></div>
                                            <div class="flot-left"><a href={{content.socialMedia.linkedin}}> LinkedIn<br/> <strong>Zuri Hunter</strong></a><br>
                                            </div>
                                        </div>
                                        <div class="contact-text">
                                            <div class="col-2 icon-block email"><i class="fa fa-twitch"></i></div>
                                            <div class="flot-left"><a href={{content.socialMedia.twitch}}> Twitch<br/> <strong>@thestrugglingblack</strong></a><br>
                                            </div>
                                        </div>
                                        <div class="contact-text">
                                            <div class="col-2 icon-block email"><i class="fa fa-gitlab"></i></div>
                                            <div class="flot-left"><a href={{content.socialMedia.gitlab}}> GitLab<br/> <strong>@thestrugglingblack</strong></a><br>
                                            </div>
                                        </div>
                                        <div class="contact-text">
                                            <div class="col-2 icon-block email"><i class="fa fa-github"></i></div>
                                            <div class="flot-left"><a href={{content.socialMedia.github}}> GitHub<br/> <strong>@thestrugglingblack</strong></a><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="full-divider"></div>
                        <div class="container-sub">
                            <div class="row">
                                <div class="contact-form">
                                    <h3>Drop Me a Line</h3>
                                    <form id="form1" name="form1" method="post">
                                        <input name="name" type="text" id="name" placeholder="Your Name..."/>
                                        <input name="email" type="text" id="email" placeholder="Your Email..."/>
                                        <textarea name="message" id="message" cols="45" rows="5"
                                                  placeholder="Your Message..."></textarea>
                                        <input type="submit" name="button" id="button" value="say hello!">
                                        <div id="successmsg"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- Introduction -->
            <article class="content introduction-end" id="chapterthankyou">
                <div class="inner">
                    <div class="introduction-end-con margin-top50">
                        <h3><strong>Zuri Hunter</strong></h3>
                        <div id="rotate" class="rotate">
                            <div><span>tenacious.</span></div>
                            <div><span>self-sufficient.</span></div>
                            <div><span>lissome.</span></div>
                            <div><span>ingenious.</span></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- content-wrapper -->
    </div>
    <!-- content-scroller -->
</div>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/head.min.js"></script>
<!-- Portfolio Thumbnail -->
<script type="text/javascript" src="../js/imagesloaded.min.js"></script>
<script type="text/javascript" src="../js/masonry.min.js"></script>
<script type="text/javascript" src="../js/class_helper.js"></script>
<script type="text/javascript" src="../js/grid_gallery.js"></script>
<!-- Portfolio Grid -->
<script>
    new CBPGridGallery(document.getElementById('grid-gallery'));
</script>
<!-- Portfolio Slider-->
<script type="text/javascript" src="../js/carousel.js"></script>
<script type="text/javascript" src="../js/jquery.easypiechart.js"></script>
<script type="text/javascript" src="../js/text.rotator.js"></script>
<!-- Page Scrolling -->
<script>
    head.js(
            {mousewheel: "js/jquery.mousewheel.js"},
            {mwheelIntent: "js/mwheelIntent.js"},
            {jScrollPane: "js/jquery.jscrollpane.min.js"},
            {history: "js/jquery.history.js"},
            {stringLib: "js/core.string.js"},
            {easing: "js/jquery.easing.1.3.js"},
            {smartresize: "js/jquery.smartresize.js"},
            {page: "js/jquery.page.js"}
    );
</script>
<!-- Fit Video -->
<script type="text/javascript" src="../js/jquery.fitvids.js"></script>
<!-- All Javascript Component-->
<script src="../js/settings.js"></script>
<script src="../js/portfolio.js" type="module"></script>
</body>
</html>